*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/
.DS_Store

# Berkshelf
.vagrant
berks-cookbooks/
/cookbooks
Berksfile.lock

# Bundler
Gemfile.lock
bin/*
.bundle/*
/vendor

.kitchen/
.kitchen.local.yml
packer.aws.buildoutput.txt
